<h1>Todos los alumnos</h1>
{{#link-to 'login'}}
	Go to login :v
{{/link-to}}

<br>
<br>
<br>

<ul>
	{{#each students as |student|}}
		<li>
			<p>Name: {{student.name}}</p>
			<p>LastName: {{student.lastName}}</p>
			<button {{action 'removeStudent' student on='click'}}>kill me</button>
		</li>
	{{/each}}
</ul>

<button {{action 'addStudent' on='click'}}>Add student</button>