<p style="text-align:right;">Bienvenido {{currentUser.username}}</p>
<hr>

{{#each model as |book|}}
	{{book-display
		book=book
		onBookDelete=(action 'onBookDelete')
	}}
{{/each}}

<br>
<hr>
<br>
<form {{action 'createStudent' on='submit'}}>
	{{input type='text' value=name}}
	<button type="submit">Crear alumno</button>
</form>